body {
    margin: 0;
    padding: 0;
}

nav {
    position:absolute;
    padding: 1rem;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 50px;
    transition: height 500ms ease, margin-top 500ms ease;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 58px;
}


a {
    font-weight: 700;
    color: white;
    font-size: 1.4em;
    text-decoration: none;
    transition: color 500ms;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

li {
    margin: 0 1rem;
}

.fond {
    position: relative;
    width: 100%;
    height: 1000px;
    object-fit: cover;
    transition: margin-top 500ms ease;
}

.centre {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    transition: margin-top 500ms ease;
}

h1 {
    width: 36rem;
    font-size: 4em;
    margin-bottom: -0.8rem;
}

p {
    font-size: 1.1em;
    width: 40rem;
    text-align: center;
}

.bouton {
    cursor: pointer;
    font-size: 1em;
    border: 2px solid white;
    padding: 0.4rem 1.5rem;
    background-color: transparent;
    transition: background-color 500ms, color 500ms;
}

.bouton:hover {
    color: #46cfd3;
    background-color: white;
    transition: background-color 500ms, color 500ms;
}

.fond-about {
    color: #122a41;
    font-size: 2.5em;
    font-weight: 800;
    display: flex;
    justify-content: center;
    margin-top: -5px;
    background-color: #f1f5f9;
    height: 700px;
}

span {
    color: #46cfd3;
}

.fond-our {
    color: #122a41;
    font-size: 2.5em;
    font-weight: 800;
    display: flex;
    justify-content: center;
    height: 700px;
}

.fond-featured {
    color: #122a41;
    font-size: 2.5em;
    font-weight: 800;
    display: flex;
    justify-content: center;
    background-color: #f1f5f9;
    height: 700px;
}

footer {
    background-color: #122a41;
    height: 180px;
}

.info {
    height: 100%;
    font-weight: 500;
    font-size: 1.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.lien2 {
    display: none;
}

.lien2 a {
    color: #122a41;
    transition: color 500ms;
}

.lien2 a:hover {
    color:#46cfd3;
    transition: color 500ms;
}

@media screen and (max-width: 799px) {
    nav {
        background-color: white;
    }

    .lien, .lien2 {
        display: none;
    }

    .navbar {
        justify-content: space-between;
        margin-left: 0.6rem;
        margin-right: 0.6rem;
    }

    .bars {
        display: block;
    }
}

.bars {
    display: none;
}

.fa-bars {
    cursor: pointer;
    font-size: 1.5em;
    transition: color 500ms;
}

.fa-bars:hover {
    color: #46cfd3;
    transition: color 500ms;
}

.lien3 ul {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 0;
    width: 0px;
}

.lien3 li {
    margin-bottom: 1.5rem;
    opacity: 0;
    transform: translateY(-20px);
    animation: appear 1s ease forwards;
}

.lien3 a {
    color: #637d98;
    font-weight: 550;
}

.lien3 a:hover {
    color: #282a41;
}

.lien3 {
    display: none;
}


@keyframes appear {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}