@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap");

$bleu: #4684f3;
$blanc: #ffffff;
$jaune: #fdbb30;
$gris: #9ca3af;
$bordure: #384151;
$bleu-fonce: #121827;
$bleu-fond: #202937;

@keyframes deplacementIcone {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-0.3rem);
  }
}

@keyframes progressBar {
  0% {
    transform: scaleX(0);
    background: $blanc;
  }

  100% {
    transform: scaleX(1);
  }
}

@keyframes reverseProgressBar {
  0% {
    transform: scaleX(1);
    background: $bleu;
  }
  100% {
    transform: scaleX(0);
    background: $blanc;
  }
}

@keyframes headshakes {
  25% {
    transform: translateY(1%);
  }
  75% {
    transform: translateY(1% * -1);
  }
}

* {
  font-family: "Nunito Sans", sans-serif;
}

body {
  background-color: $bleu-fond;
  margin: 0;
  padding: 0;
}

.navbar {
  z-index: 2;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4.625rem;
  background-color: $bleu-fonce;

  &__logo {
    position: absolute;
    width: 300px;
    height: auto;
    left: 17%;
    top: 10%;
    margin-right: 10em;
    transition: left 500ms;

    @media only screen and (max-width: 1280px) {
      & {
        left: 3em;
      }
    }

    @media only screen and (max-width: 1280px) {
      & {
        left: 1em;
      }
    }

    @media only screen and (max-width: 800px) {
      & {
        top: 0.7em;
        width: 250px;
        left: 1em;
      }
    }

    @media only screen and (max-width: 768px) {
      & {
        top: 0.7em;
        width: 250px;
        left: 17rem;
      }
    }

    @media only screen and (max-width: 500px) {
      & {
        left: 12rem;
      }
    }
  }

  &__links {
    margin-right: 15rem;
    transition: margin-right 500ms;
    @media only screen and (max-width: 1280px) {
      & {
        margin-right: 3em;
      }
    }
    @media only screen and (min-width: 1281px) {
      & {
        margin-right: calc(50% - 40rem);
      }
    }

    @media only screen and (max-width: 1024px) {
      & {
        margin-right: 0.5em;
      }
    }
  }

  &__link {
    text-decoration: none;
    padding-right: 1.875rem;
    color: $blanc;
    font-size: 1.1em;
    overflow-x: auto;

    @media only screen and (max-width: 768px) {
      display: none;
    }

    &:hover {
      color: $bleu;
    }

    &--border {
      font-size: 1em;
      padding: 0.5rem 0.625rem;
      border: 2px $bleu solid;
      border-radius: 5px;
      color: $bleu;

      &:hover {
        color: $blanc;
        background-color: $bleu;
      }
    }
  }
}

.bouton-popup {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.popup {
  color: $blanc;
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid transparent;
  background-color: $bleu-fond;
  padding: 20px;
  z-index: 1000;

  & p {
    color: $gris;
  }
}

.fond-popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

i {
  font-size: 1.2em;
  margin-left: 1.25rem;
}

.main_box {
  background: url("side.jpeg") right no-repeat;
  background-size: cover;
  width: 100%;
  left: 70%;
  display: none;

  @media only screen and (max-width: 768px) {
    display: block;
  }

  & .sidebar_menu {
    position: fixed;
    height: 100vh;
    width: 250px;
    left: -280px;
    background: $blanc;
    box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.5);
    overflow: hidden;
    transition: all 0.3s linear;
  }

  & .btn_one i {
    color: $blanc;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    top: 10px;
    left: 16px;
    line-height: 60px;
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s linear;
  }
}

.btn_one {
  & i:hover {
    font-size: 29px;
  }
}

.btn_two {
  & i:hover {
    font-size: 24px;
  }
}

.sidebar_menu {
  top: -10px;

  & .menu {
    top: 50px;
    left: -38px;
    position: absolute;
    width: 100%;
  }

  & .menu li {
    list-style: none;
    margin-top: 10px;
    padding: 14px 20px;
  }

  & .menu i {
    color: black;
    font-size: 20px;
    padding-right: 8px;
  }

  & .menu a {
    color: black;
    font-size: 20px;
    text-decoration: none;
  }

  & .menu li:hover {
    border-left: 1px solid black;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  }

  & .btn_two i {
    font-size: 25px;
    line-height: 60px;
    position: absolute;
    left: 200px;
    cursor: pointer;
    opacity: 0;
    transition: all 0.3s linear;
  }
}

#check {
  display: none;

  &:checked ~ .sidebar_menu {
    left: 0;
  }

  &:checked ~ .btn_one i {
    opacity: 0;
  }

  &:checked ~ .sidebar_menu .btn_two i {
    opacity: 1;
  }
}

.cta {
  overflow: hidden;
  &__banniere {
    overflow: hidden;
    cursor: grab;
    width: 100%;
    height: auto;

    @media only screen and (max-width: 1024px) {
      width: 63rem;
      height: 30rem;
    }

    @media only screen and (max-width: 1024px) {
      width: 100%;
      height: 30rem;
    }
  }

  &__centre {
    position: absolute;
    top: 30%;
    left: 13%;
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: 1200px) {
      & {
        left: 27rem;
        top: 4rem;
      }

      @media only screen and (max-width: 1100px) {
        left: 24rem;
        top: 4rem;
      }

      @media only screen and (max-width: 1024px) {
        top: 9rem;
        left: 22rem;
      }

      @media only screen and (max-width: 900px) {
        top: 9rem;
        left: 18rem;
      }

      @media only screen and (max-width: 800px) {
        top: 9rem;
        left: 15rem;
      }

      @media only screen and (max-width: 700px) {
        top: 9rem;
        left: 12rem;
      }

      @media only screen and (max-width: 600px) {
        top: 9rem;
        left: 9rem;
      }

      @media only screen and (max-width: 500px) {
        top: 9rem;
        left: 6rem;
      }

      @media only screen and (max-width: 500px) {
        top: 9rem;
        left: 4rem;
      }

      @media only screen and (max-width: 350px) {
        left: 2rem;
      }
    }

    &--texte {
      z-index: 1;
      color: $blanc;
      font-weight: 800;
      font-size: 3em;
      text-shadow: 1px 2px 4px black;
      transition: left top 2000ms 2000ms;

      @media only screen and (max-width: 400px) {
        font-size: 2.3em;
      }
    }
  }
}

.btn {
  margin-top: -2em;
  z-index: 1;
  width: 10.625rem;
  outline: none;
  border: 3px white solid;
  text-align: center;
  padding: 0.375rem 3rem;
  transition: border-color 500ms ease-out;

  @media only screen and (max-width: 1163px) {
    & {
      transition: left top 500ms 500ms;
      left: 3.3rem;
      top: -10.5rem;
    }
  }

  @media only screen and (max-width: 1163px) {
    & {
      transition: left top 500ms 500ms;
      left: -10rem;
      top: -10.5rem;
    }
  }

  @media only screen and (max-width: 786px) {
    & {
      transition: left top 500ms 500ms;
      left: -31rem;
      top: -11.5rem;
    }
  }

  @media only screen and (max-width: 400px) {
    width: 7rem;
  }

  &__lien {
    position: relative;
    text-shadow: 0.1em 0.1em 0.2rem #333;
    font-weight: 550;
    font-size: 1.8em;
    text-decoration: none;
    color: $blanc;

    @media only screen and (max-width: 400px) {
      font-size: 1.2em;
    }
  }

  &:hover .progress {
    animation: progressBar 350ms ease-in-out forwards;
  }

  &:not(:hover) .progress {
    animation: reverseProgressBar 350ms ease-in-out;
  }

  &:hover {
    border-color: $bleu;
    animation: headshakes 200ms cubic-bezier(0.4, 0.1, 0.6, 0.9) forwards;
  }
}

.progress {
  top: -18%;
  left: -29%;
  z-index: -1;
  position: absolute;
  transform: scaleX(0);
  background: $bleu;
  padding: 0;
  border: 1px transparent solid;
  width: 157%;
  height: 130%;
}

.titre {
  margin-top: 1rem;
  height: 17vh;
  color: $bleu;
  text-shadow: 1px 1px 4px black;
  font-weight: 900;
  font-size: 3.3em;
  text-align: center;
  transition: font-size 300ms;

  @media only screen and (max-width: 1400px) {
    font-size: 2.7em;
  }

  @media only screen and (max-width: 768px) {
    font-size: 2.4em;
  }

  @media only screen and (max-width: 500px) {
    font-size: 2em;
  }
}

.offre {
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  position: relative;
  align-items: center;
  margin: -0.3rem 3rem;

  @media only screen and (max-width: 500px) {
    img {
      width: 500rem;
    }
  }

  & img {
    opacity: 0.8;
    width: 30vw;

    @media only screen and (max-width: 1024px) {
      width: 45vw;
    }

    @media only screen and (max-width: 768px) {
      width: 60vw;
    }
  }

  &:hover img {
    opacity: 1;
  }

  &__overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 93%;
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
    color: $blanc;
    top: 50%;
    left: 48%;

    @media only screen and (max-width: 786px) {
      left: 55%;
      width: 70%;
    }

    & h2 {
      font-size: 2em;
      font-weight: 700;
      text-transform: uppercase;
      display: flex;
      justify-content: flex-start;
      margin-left: -1rem;
    }

    & p {
      text-align: left;
      margin: -1rem 1rem;
      font-size: 1.3em;
      display: flex;
      justify-content: flex-start;
    }

    @media only screen and (max-width: 1400px) {
      & h2 {
        font-size: 1.9em;
      }

      & p {
        font-size: 1.2em;
      }
    }
  }
}

.swiper-container2 {
  position: relative;
}

.swiper-pagination {
  display: none;

  @media only screen and (max-width: 1024px) {
    display: block;
  }
}

.bloc {
  margin-top: 4rem;
  border: 1px $bleu-fonce solid;
  background: $bleu-fonce;
  width: 100%;
  height: 31rem;
}

.avis {
  width: 42rem;
  height: 10rem;
  color: $blanc;
  font-size: 3.6em;
  font-weight: 700;
  margin-left: 21rem;
  margin-top: 1rem;
  text-shadow: 1px 1px 7px black;
  transform: translate(0rem, 0rem);
  transition: transform 0.3s ease;

  @media only screen and (max-width: 1700px) {
    margin-left: 13rem;
  }

  @media only screen and (max-width: 1600px) {
    margin-left: 10rem;
  }

  @media only screen and (max-width: 1500px) {
    margin-left: 7rem;
  }

  @media only screen and (max-width: 1400px) {
    margin-left: 4rem;
  }

  @media only screen and (max-width: 1300px) {
    margin-left: 2rem;
  }

  @media only screen and (max-width: 1200px) {
    margin-left: 2rem;
  }

  @media only screen and (max-width: 1100px) {
    margin-left: 2rem;
  }

  @media only screen and (max-width: 1024px) {
    margin-left: 4rem;
  }

  @media only screen and (max-width: 786px) {
    text-align: center;
    width: 35rem;
    font-size: 3em;
  }

  @media only screen and (max-width: 500px) {
    text-align: center;
    margin-left: 3rem;
    width: 23rem;
    font-size: 2em;
  }

  &__flex {
    margin: 0 auto;
    max-width: 27rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__bloc {
    margin-top: -2rem;
    overflow: hidden;
    cursor: grab;
    border: 2px $bordure solid;
    border-radius: 5px;
    width: 25rem;
    height: 15rem;

    @media only screen and (max-width: 1100px) {
      height: 16rem;
    }

    @media only screen and (max-width: 768px) {
      width: 30rem;
    }

    &__message {
      position: absolute;
    }

    & h2 {
      font-style: italic;
      font-size: 2em;
      font-weight: 700;
    }

    & p {
      margin-top: -1rem;
    }

    & h2,
    p {
      margin-top: 0.5rem;
      margin-left: 1rem;
      color: $blanc;
    }

    .etoile {
      color: $jaune;
      font-size: 1.5em;
    }

    .date {
      margin-left: 11rem;

      @media only screen and (max-width: 1300px) {
        margin-left: 9rem;
      }

      @media only screen and (max-width: 1200px) {
        margin-left: 7rem;
      }

      @media only screen and (max-width: 1100px) {
        margin-left: 5rem;
      }
    }
  }
}

.blocPartenaire {
  height: 23rem;

  @media only screen and (max-width: 1024px) {
    height: 25rem;
  }

  @media only screen and (max-width: 500px) {
    height: 31rem;
  }
}

.containerPartenaire {
  margin-left: 18rem;
  transform: translate(0rem, 0rem);
  transition: transform 300ms ease;

  @media only screen and (max-width: 1500px) {
    margin-left: 12rem;
  }

  @media only screen and (max-width: 1320px) {
    margin-left: 8rem;
  }

  @media only screen and (max-width: 1220px) {
    margin-left: 4rem;
  }

  @media only screen and (max-width: 1160px) {
    margin-left: 2rem;
  }

  @media only screen and (max-width: 1090px) {
    margin-left: 2rem;
  }

  @media only screen and (max-width: 1024px) {
    margin-left: 4rem;
  }

  @media only screen and (max-width: 1000px) {
    margin-left: 4rem;
  }

  @media only screen and (max-width: 900px) {
    margin-left: 4rem;
  }

  @media only screen and (max-width: 800px) {
    margin-left: 4rem;
  }

  @media only screen and (max-width: 500px) {
    margin-left: 0rem;
  }
}

.titrePartenaire {
  font-size: 3em;
  font-weight: 700;
  color: $bleu;
  width: 40rem;
  margin-bottom: -1rem;

  @media only screen and (max-width: 500px) {
    width: 30rem;
  }
}

.blocStyle {
  border-left: 5px $jaune solid;
  height: 9.5rem;
  width: 43rem;

  @media only screen and (max-width: 500px) {
    width: 28rem;
    height: 14.5rem;
  }

  & p {
    color: $blanc;
    margin-left: 1.5rem;
    font-size: 1.8em;
  }
}

.btnPartenaire {
  position: absolute;
  cursor: pointer;
  font-size: 1.5em;
  border: 1px transparent solid;
  padding: 0.938rem;
  border-radius: 20px;
  text-align: center;
  background: $bleu;
  color: $blanc;
  width: 16.25rem;
  top: 48%;
  left: 60%;
  transform: translate(0rem, 0rem);
  transition: transform 0.3s ease;

  @media only screen and (max-width: 1800px) {
    left: 50rem;
    top: 8rem;
  }

  @media only screen and (max-width: 1700px) {
    left: 50rem;
    top: 8rem;
  }

  @media only screen and (max-width: 1600px) {
    left: 50rem;
    top: 8rem;
  }

  @media only screen and (max-width: 1500px) {
    left: 50rem;
    top: 8rem;
  }

  @media only screen and (max-width: 1400px) {
    left: 50rem;
    top: 8rem;
  }

  @media only screen and (max-width: 1300px) {
    left: 50rem;
    top: 8rem;
  }

  @media only screen and (max-width: 1200px) {
    left: 45rem;
    top: 8rem;
  }

  @media only screen and (max-width: 1100px) {
    left: 43rem;
    top: 8rem;
  }

  @media only screen and (max-width: 1024px) {
    left: 0rem;
    top: 20rem;
  }

  @media only screen and (max-width: 500px) {
    top: 29rem;
  }

  &:hover {
    opacity: 80%;
  }
}

.basdepage {
  margin-top: 4rem;
  border: 1px $bleu-fonce solid;
  background: $bleu-fonce;
  width: 99.9%;
  height: 27rem;

  @media only screen and (max-width: 1000px) {
    height: 50rem;
  }

  @media only screen and (max-width: 1000px) {
    height: 260vw;
  }

  &__container {
    margin: 2rem 17rem;
    transform: translate(0rem, 0rem);
    transition: transform 0.3s ease;

    @media only screen and (max-width: 1600px) {
      margin: 2rem 14rem;
    }

    @media only screen and (max-width: 1500px) {
      margin: 2rem 12rem;
    }

    @media only screen and (max-width: 1400px) {
      margin: 2rem 8rem;
    }

    @media only screen and (max-width: 1300px) {
      margin: 2rem 4rem;
    }

    @media only screen and (max-width: 1200px) {
      margin: 2rem 2rem;
    }

    @media only screen and (max-width: 1100px) {
      margin: 2rem 2rem;
    }
  }

  & span {
    width: 60rem;
  }

  & p {
    color: $gris;
  }

  & .contact {
    margin-top: -0.2rem;
    line-height: 2;
  }

  & .description {
    padding-top: 0.7rem;
    width: 29rem;

    @media only screen and (max-width: 1100px) {
      width: 26rem;
    }
  }
}

.informations {
  display: flex;
  justify-content: space-between;
  width: 53%;
  position: absolute;
  top: 0rem;
  left: 40rem;
  transform: translate(0rem, 0rem);
  transition: transform 0.3s ease;

  & h3 {
    color: $blanc;
  }

  & a {
    text-decoration: none;
    color: $gris;
    display: block;
    margin-bottom: 0.625rem;

    &:hover {
      color: $bleu;
    }
  }

  @media only screen and (max-width: 1700px) {
    top: 0rem;
    left: 35rem;
  }

  @media only screen and (max-width: 1600px) {
    top: 0rem;
    left: 32rem;
  }

  @media only screen and (max-width: 1500px) {
    top: 0rem;
    left: 30rem;
  }

  @media only screen and (max-width: 1400px) {
    top: 0rem;
    left: 30rem;
  }

  @media only screen and (max-width: 1300px) {
    top: 0rem;
    left: 30rem;
  }

  @media only screen and (max-width: 1200px) {
    top: 0rem;
    left: 30rem;
  }

  @media only screen and (max-width: 1100px) {
    top: 0rem;
    left: 30rem;
  }

  @media only screen and (max-width: 1000px) {
    left: 40rem;
    display: flex;
    flex-direction: column;
  }

  @media only screen and (max-width: 1100px) {
    top: 0rem;
    left: 27rem;
  }

  @media only screen and (max-width: 768px) {
    display: none;
  }
}

.motcliquable {
  display: none;

  @media only screen and (max-width: 768px) {
    display: block;
  }
  cursor: pointer;
}

.mot {
  color: $gris;
  font-size: 1.5em;
  font-weight: 700;
  cursor: pointer;
  padding: 5px;
  margin: 5px 0;
  display: inline-block;
}

.liste-mots {
  font-size: 1em;
  color: $blanc;
  display: none;
  margin-top: 5px;
  margin-left: 10px;

  & a {
    margin: 1rem 0;
    color: $gris;
    display: flex;
    flex-direction: column;
    text-decoration: none;
  }
}

.toggleswap {
  padding-left: 30rem;

  &--1 {
    padding-left: 30.2rem;
  }

  @media only screen and (max-width: 700px) {
    padding-left: 22rem;

    &--1 {
      padding-left: 22.2rem;
    }
  }

  @media only screen and (max-width: 600px) {
    padding-left: 14rem;

    &--1 {
      padding-left: 14.2rem;
    }
  }

  @media only screen and (max-width: 500px) {
    padding-left: 6rem;

    &--1 {
      padding-left: 6.2rem;
    }
  }
}

.bordureTrait {
  margin-top: 6vw;
  border-bottom: 1px $gris solid;
  width: 100%;

  @media only screen and (max-width: 1000px) {
    margin-top: 50vw;
  }

  @media only screen and (max-width: 900px) {
    margin-top: 60vw;
  }

  @media only screen and (max-width: 800px) {
    margin-top: 30vw;
  }
}

.droit {
  margin-top: 3rem;

  &__eloignement {
    margin-left: 44rem;

    @media only screen and (max-width: 1700px) {
      margin-left: 42rem;
    }

    @media only screen and (max-width: 1600px) {
      margin-left: 40rem;
    }

    @media only screen and (max-width: 1500px) {
      margin-left: 38rem;
    }

    @media only screen and (max-width: 1400px) {
      margin-left: 36rem;
    }

    @media only screen and (max-width: 1300px) {
      margin-left: 34rem;
    }

    @media only screen and (max-width: 1024px) {
      margin-left: 32rem;
    }

    @media only screen and (max-width: 1000px) {
      margin-left: 24rem;
    }

    @media only screen and (max-width: 900px) {
      margin-left: 20rem;
    }

    @media only screen and (max-width: 800px) {
      margin-left: 16rem;
    }
  }
}

.bas {
  i {
    color: $gris;

    &:hover {
      color: $bleu;
      animation: deplacementIcone 500ms ease-in-out forwards;
    }
  }
}
