body {
    background-color:#f1f5f9;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;
}

h1 {
    text-align: center;
}

.autres-elements {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 15vh;
}

.generation {
    margin-top: -1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.para {
    font-size: 1.7em;
}

#choix {
    font-size: 0.9em;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: white;
    width: 60px;
}

#choix:active {
    border: 2px solid black;
}

.bouton {
    margin-left: 0.5rem;
    font-size: 1.2em;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: #50a7e7;
    padding: 0.3rem 1rem;
    transition: background-color 500ms, color 500ms;
}

.bouton:hover {
    color: #50abeb;
    background-color:#a7d6f7;
    transition: background-color 500ms, color 500ms;
}

.loading {
    margin-top: 1.5rem;
    font-size: 1.2em;
    color: #879bb0;
    text-align: center;
}

@media screen and (min-width: 800px) {
    .loading {
        width: 650px;
        max-width: 100%;
        box-sizing: border-box;
    }
}