body {
    background-color: #f1f5f9;
    margin: 0;
    padding: 0;
}

.fa-bars {
    cursor: pointer;
    color: #50a7e7;
    transition: color 500ms ease;
    font-size: 2em;
    float: right;
    margin: 2.3rem;
    animation: agrandissement 900ms both infinite alternate;
}

.fa-bars:hover {
    color: #8eccf7;
    transition: color 500ms ease;
}

@keyframes agrandissement {
    0% {
        transform: scale(1);
    }
    10% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.5);
    }
}

.image {
    width: 70%;
    text-align: center;
}

.fermer {
    cursor: pointer;
    color: red;
    font-size: 2em;
    transform: rotate(0deg);
    transition: transform 300ms ease;
    width: 10%;
    text-align: center;
}

.fermer:hover {
    transform: rotate(1turn);
    transition: transform 300ms ease;
}

.haut {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.chose {
    transform: translateX(-500px);
    transition: transform 500ms ease;
}

.sidebar {
    width: 0px;
    height: 911px;
    background-color: white;
    transition: width 500ms ease;
}

.lien {
    font-size: 1.5em;
    padding-left: 1.8rem;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    cursor: pointer;
}

.lien a {
    transform: translateX(0px);
    color: #637d98;
    display: inline-block;
    transition: color 500ms ease, transform 800ms ease;
    text-decoration: none;
}

.lien:hover a {
    transform: translateX(5px);
    color:#50a7e7;
    transition: color 500ms ease, transform 800ms ease;
}

.lien:hover {
    background-color: #a7d6f7;
}

.reseau i {
    color: #50a7e7;
    font-size: 1.4em;
    transition: color 400ms ease;
    padding: 0.3rem;
}

.reseau i:hover {
    color: #0b3250;
    transition: color 400ms ease;
}

.reseau {
    margin-top: 29rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 675px) {
    .fa-bars {
        display: none !important;
    }

    .sidebar {
        width: 100% !important;
    }

    .image {
        width: 20%;
    }
}