.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 4rem;
}

.boite {
    border: 5px solid #50a7e7;
    width: 80vw;
    height: 600px;
    overflow: hidden;
    line-height: 0;
    border-radius: 10px;
}

.image-container {
    display: flex;
    flex-direction: row;
    transform: translateX(0%);
    transition: transform 300ms;
}

.monimage {
    object-fit: cover;
    border-radius: 5px;
    width: 80vw;
    height: auto;
}

.centre1, .centre2, .centre3, .centre4 {
    position: absolute;
    margin: 0 auto;
    top: -200px;
    left: 0;
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5em;
    font-weight: 900;
}

.centre2 {
    left: 125%;
}

.centre3 {
    left: 225%;
}

.centre4 {
    left: 337%;
    height: 1100px;
}

.filtre {
    filter: brightness(60%);
    height: 600px;
}

.fond {
    width: 100vw;
    height: 600px;
    background-color: #c6e5fb;
    border-radius: 5px;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80%;
    color: white;
}

.profile p {
    font-size: 1.3em;
    font-weight: 600;
}

.photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.bouton {
    color:#637d98;
    transition: color 500ms;
    display: flex;
    margin-top: 1rem;
    font-size: 2em;
}

.prev {
    cursor: pointer;
    margin-right: 1rem;
    display: none;
}

.prev:hover {
    color:#344e66;
    transition: color 500ms;
}

.next {
    cursor: pointer;
}

.next:hover {
    color:#344e66;
    transition: color 500ms;
}

@media screen and (max-width: 1600px) {
    .boite {
        width: 80vw;
    }

    .centre1, .centre2, .centre3, .centre4 {
        top: -200px;
    }
}

@media screen and (max-width: 991px) {
    .boite {
        height: 500px;
    }

    .centre1, .centre2, .centre3, .centre4 {
        top: -250px;
    }

    .profile {
        height: 400px;
    }
}

@media screen and (max-width: 767px) {
    .boite {
        height: 400px;
    }

    .centre1, .centre2, .centre3, .centre4 {
        top: -300px;
    }

    .monimage {
        height: 500px;
    }

    .profile {
        height: 300px;
    }
}

@media screen and (max-width: 575px) {
    .boite {
        height: 350px;
    }

    .centre1, .centre2, .centre3, .centre4 {
        top: -350px;
    }

    .monimage {
        height: 500px;
    }

    .profile {
        height: 200px;
    }
}