body {
    transition: background-color 500ms;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5rem;
    transition: display 500ms;
}

.image {
    width: 370px;
    height: 240px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: box-shadow 400ms;
    object-fit: cover;
}

.image:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: box-shadow 400ms;
}

.haut {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}

.bas {
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 9999;
    transition: opacity 500ms, visibility 500ms;
}

.nouveau-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    width: 100vw;
    overflow: hidden;
}

.plusgrand {
    width: 1500px;
    height: 330px;
    cursor: default;
    object-fit: cover;
}

.image-container {
    width: 1200px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border-radius: 5px;
}

.page {
    display: flex;
    flex-direction: row;
}

.fermer {
    margin: 1rem;
    cursor: pointer;
    color: white;
    font-size: 3.5em;
    font-weight: 900;
    float: right;
}

.prev, .next {
    cursor: pointer;
    color: white;
    font-size: 2.5em;
    margin: 0 2rem;
}

.titre {
    color: white;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.selection {
    display: flex;
    flex-direction: row;
    margin-left: 8rem;
    margin-top: 2.5rem;
}

.pluspetit {
    cursor: pointer;
    object-fit: cover;
    width: 200px;
    height: 80px;
    filter: brightness(60%);
    transition: filter 500ms;
}

.pluspetit:hover {
    filter: brightness(100%);
    transition: filter 500ms;
}

