@import url('https://forts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Pour centrer le Login Form et nouvelle police d'écriture */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #1abc9b;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

/* La boite blanche au centre */
.centered-box {
    position: relative;
    border: 1px transparent solid;
    width: 500px;
    height: 505px;
    border-radius: 9px;
    background-color: #ffffff;
}

/* Le haut de la boite (vert) */
.top-box {
    border: 1px transparent solid;
    border-radius: 9px 9px 0px 0px;
    background-color: #16a185;
    width: 500px;
    height: 130px;
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Titre Login Form */
h1 {
    text-align: center;
    color: white;
    font-size: 2.5em;
    padding-top: 15px;
}

/*  */
.connexion {
    position: absolute;
    top: 45%;
    left: 11%;
    transform: translate(-50%, -50%);
}

.cage .fa {
    width: 50px;
    height: 37px;
    border: 1px transparent solid;
    border-radius: 5px 0px 0px 5px;
    background-color: #15a084;
}

.fa {
    color: white;
    text-align: center;
    padding-top: 15px;
}

input {
    content: "";
    position: absolute;
    border: 1px #e4e2e5 solid;
    border-radius: 0px 6px 6px 0px;
    width: 370px;
    height: 50px;
    outline: none;
    font-size: 1.2em;
    padding-left: 15px;
}

.motdepasse {
    display: block;
    margin-top: 20px;
}

input:focus {
    border-color: #96c2b8;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.oublie {
    position: absolute;
    top: 61%;
    left: 6%;
    font-size: 1.3em;
    text-decoration: none;
    color: #609e9e;
}

.oublie:hover {
    text-decoration: underline;
}

.bouton {
    position: absolute;
    top: 71%;
    left: 6%;
    width: 440px;
    height: 58px;
    background-color: #159a7f;
    border-radius: 6px;
    border: none;
    outline: none;
    color: white;
    font-size: 1.7em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.bouton:hover {
    background-color: #10826a;
}

.pasencore {
    position: absolute;
    top: 84%;
    left: 17%;
    font-size: 1.5em;
}

.surligne {
    text-decoration: none;
    color: #159a7f;
}

.surligne:hover {
    text-decoration: underline;
}