@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

.bloc {
    width: 450px;
    height: 540px;
    border: 1px transparent solid;
    border-radius: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.centered-bloc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bloc2 {
    position: relative;
    height: 100vh;
    display: flex;
    background-color: #4074ec;
    width: 450px;
    height: 200px;
    border: 1px transparent solid;
    border-radius: 30px 30px 0px 0px;
    justify-content: center;
    align-items: center;
}

.imagemoi {
    width : 185px;
    height : 185px;
    border: 3px white solid;
    border-radius: 50%;
    padding: 1px;
}

.autre-cercle {
    width : 195px;
    height : 195px;
    border: 4px solid #4074ec;
    border-radius: 50%;
    padding: 1px;
}

.bloc2 .imagemoi {
    position: absolute;
    bottom: -30;
    margin-left: auto;
    margin-right: auto;
}

.bloc2 .autre-cercle {
    position: absolute;
    bottom: -34;
    margin-left: auto;
    margin-right: auto;
}

.centrer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    padding-top: 50px;
    margin: auto;
    font-size: 1.65em;
    font-weight: 500;
}

h2 {
    margin: auto;
    font-size: 1.2em;
    font-weight: 400;
}

.media-button {
    display: grid;
    margin: 18px;
    grid-template-columns: repeat(4, 1fr);
    gap: 18px;
}

.link {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 1.4em;
    border-radius: 50%;
    background-color: red;
    margin-bottom: 20px;
}

.bouton a {
    text-decoration: none;
    border: 1px transparent solid;
    border-radius: 40px;
    color: white;
    padding: 8px 30px 8px 30px;
    background-color: #4074ec;
    margin: 10px;
}

.bouton a:hover {
    background-color: #0e47db;
}

.avis {
    margin-top: 20px;
    font-size: 1.3em;
}

.espace {
    width: 10px;
    height: 10px;
    opacity: 0;
}

.barre {
    border: 1px lightgray solid;
    margin: 20px;
}