.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

h1 {
    font-size: 5em;
}

#compteur {
    color: black;
    font-size: 7em;
    font-weight: 900;
    margin: -30px 0 10px 0;
}

.block {
    cursor: pointer;
    border: 2px black solid;
    border-radius: 8px;
    padding: 4px 10px;
    font-size: 1.3em;
    margin: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none;
    background-color: white;
    transition: background-color 700ms ease;
}

.block:hover {
    color: white;
    background-color: black;
}

.block-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 418px) {
    .block-container {
        flex-wrap: wrap;
        width: 300px;
    }
}

@media screen and (max-width: 267px) {
    .block-container {
        flex-wrap: wrap;
        width: 210px;
    }
}

@media screen and (max-width: 261px) {
    .block-container {
        flex-wrap: wrap;
        width: 200px;
    }
}