body {
    background-color: #f1f5f9;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70vh;
}

h1 {
    color: #c49c63;
    font-size: 2.5em;
}

.question {
    height: 25px;
    margin: 2rem 3rem 0 3rem;
    width: 100%;
    max-width: 590px;
    border: 1px solid transparent;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: white;
    font-size: 1.2em;
    padding: 0.5rem 1.4rem 4rem 1.4rem;
    box-sizing: border-box;
}

.question-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question-active {
    height: 190px;
}

.invisible {
    margin-top: 1.3rem;
    color: #92b7d5;
    display: none;
    border-top: 1px solid #d4d4d4;
}

i {
    cursor: pointer;
    color: #c79e63;
    font-size: 1.3em;
    transform: rotate(0deg);
    transform-origin: center;
    transition: transform 500ms;
    float: right;
}

i:hover {
    transform: rotate(90deg);
    transform-origin: center;
    transition: transform 500ms;
}


@media screen and (max-width: 500px) {
    .question-active {
        height: 230px;
    }
}

@media screen and (max-width: 400px) {
    .question-active {
        height: 250px;
    }
    .question {
        padding-bottom: 5rem;
    }
}

@media screen and (max-width: 380px) {
    .question-active {
        height: 280px;
    }
}

@media screen and (max-width: 300px) {
    .question-active {
        height: 500px;
    }
    .question {
        padding-bottom: 6rem;
    }
}

@media screen and (max-width: 200px) {
    .question-active {
        height: 580px;
    }
    .question {
        padding-bottom: 7rem;
    }
}

@media screen and (max-width: 190px) {
    .question-active {
        height: 580px;
    }
    .question {
        padding-bottom: 11rem;
    }
}

@media screen and (max-width: 150px) {
    .question-active {
        height: 600px;
    }
}