body {
    background-color: #f1f5f9;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3rem;
}

h1 {
    margin-top: 3.2rem;
    font-size: 3em;
}

p {
    margin-top: -1.2rem;
    font-size: 1.2em;
    color: #637d98;
}

.fonction {
    margin: 0 auto;
    width: 90vw;
    max-width: 1170px;
}

.taille {
    width: auto;
    max-width: 100%;
    min-width: 300px; /* Remplacez 320 par la largeur minimale que vous voulez pour votre image */
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.info, .info2, .info3 {
    background-color: white;
    border-radius: 0 0 10px 10px;
    padding: 0 1.5rem 2rem 1.5rem;
    width: 92%;
    margin: 0 1rem 1rem 0;
    overflow: auto;
    word-wrap: break-word;
    white-space: normal;
    overflow-wrap: break-word;
    min-width: 0;
    word-break: break-all;
}

.info p, .info2 p, .info3 p {
    width: 100%;
}

.choix {
    cursor: pointer;
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color:#dae2ec;
    padding: 1rem;
    transition: background-color 900ms, color 900ms;
    width: 10.5rem;
}

.ok {
    display: flex;
    flex-direction: column;
}

.choix:hover {
    background-color: #ebf7ff;
    transition: background-color 900ms, color 900ms;
    color:#50a7e8;
}

.history {
    border-radius: 10px 0 0 0;
    background-color: white;
}

.goals {
    border-radius: 0 10px 0 0;
}

.choix-container {
    display: flex;
    flex-direction: row;
}

h2 {
    padding-bottom: 1rem;
}

.info2, .info3 {
    display: none;
}

@media screen and (min-width: 992px) {
    .fonction {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
    }
}

@media screen and (max-width: 991px) {
    .choix {
        width: 100%;
    }

    .info {
        width: 94%;
    }
}

ul {
    padding-left: 0rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
}

li {
    font-size: 1.1em;
}

.choix.no-hover:hover {
    background-color: #dae2ec; /* ou toute autre couleur que vous voulez */
    color: inherit;
}