.container-truc {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.image {
    margin-right: 40px; /* Ajustez cette valeur selon vos besoins */
}



.image, .container {
    width: 1000px; /* Ajustez cette valeur selon vos besoins */
    max-width: 90%;
    box-sizing: border-box; /* Assurez-vous que la largeur inclut le padding et la bordure */
}

.container p {
    width: 550px;
    max-width: 100%;
    box-sizing: border-box;
}

h1 {
    color: #246ba0;
}

h2 {
    margin: -1.2rem 0 2rem 0;
    width: 90%;
}

p {
    color: #8caecf;
    font-size: 1.2em;
    width: 35rem;
    margin-bottom: 2rem;
}

.timer {
    display: flex;
    flex-direction: row;
}

.jours, .heures, .minutes, .secondes {
    margin-right: 1rem;
    color: white;
    background-color:#122a41;
    width: 80px;
    height: 80px;
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grand {
    font-weight: 900;
    font-size: 2.2em;
}

@media screen and (min-width: 992px) {
    .image, .container {
        width: 550px; /* Ajustez cette valeur selon vos besoins */
        max-width: 46.5%;
        box-sizing: border-box; /* Assurez-vous que la largeur inclut le padding et la bordure */
    }

    .image {
        margin-top: 30px;
    }
    
    .container p {
        width: 550px;
        max-width: 100%;
        box-sizing: border-box;
    }

    .container-truc {
        flex-direction: row;
        height: 50vh;
    }
}